  section{
    width: 90%;
    margin: auto;
    padding: 10px;
    border: 2px solid black;
    background-color: lightgray;
  }

  /* Character card styling */
  .grid div {
    background: #f2f2f2;
    padding: 15px;
    text-align: center;
    border: 1px solid blue;
  }
  
  /* Images */
  .grid img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
  }

  .gallery img {
    border: 3px yellow dashed;
    border-radius: 50px;

  }
  
  /* Headings */
  .character h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
  }
    
  .grid dt {
    font-weight: bold;
    color: #444;
  }
  
  .grid dd {
    margin: 0;
    color: #555;
  }
  

.grid dl {
    column-gap: 10px;
    justify-items: start;
    grid-template-columns: auto 1fr;
    display: grid;
}

.grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    display: grid;
}

div:nth-child(even) img {
    box-sizing: border-box;
    border: 25px solid;
    filter: grayscale();
}

.gallery {
    padding: 15px;
    justify-co

